In [ ]:
import pnadium
import os
#editaveis
ano_inicial = 2012
ano_final = 2024
trimestre = 2
diretorio_db = 'db'
arquivo_final = 'pnad_2012_2024'
os.makedirs(diretorio_db, exist_ok=True)
#preparando variável anos
anos = range(ano_inicial,ano_final+1)
# Baixa os dados do PNAD Contínua Trimestral de 2020, 2º trimestre 
for ano in anos:
    pnadium.trimestral.download(ano=ano, t=trimestre, caminho=diretorio_db)

Iniciou o download: Trimestre 2/2012 - aguarde.
Download finalizado.
Iniciou a criação do DataFrame Pandas: esta etapa pode demorar alguns minutos.
Chunks processados e salvos.
DataFrame criado.
DataFrame "pnad_trimestral_trimestre_022012.parquet" salvo como arquivo Parquet em: db\pnad_trimestral_trimestre_022012.parquet
Iniciou o download: Trimestre 2/2013 - aguarde.
Download finalizado.
Iniciou a criação do DataFrame Pandas: esta etapa pode demorar alguns minutos.
Chunks processados e salvos.
DataFrame criado.
DataFrame "pnad_trimestral_trimestre_022013.parquet" salvo como arquivo Parquet em: db\pnad_trimestral_trimestre_022013.parquet
Iniciou o download: Trimestre 2/2014 - aguarde.
Download finalizado.
Iniciou a criação do DataFrame Pandas: esta etapa pode demorar alguns minutos.
Chunks processados e salvos.
DataFrame criado.
DataFrame "pnad_trimestral_trimestre_022014.parquet" salvo como arquivo Parquet em: db\pnad_trimestral_trimestre_022014.parquet

In [1]:
import pandas as pd
import os

# Lista de arquivos Parquet
arquivos_parquet = sorted([os.path.join(diretorio_db, f) for f in os.listdir(diretorio_db) if f.endswith(".parquet")])
# Lista das colunas que serão mantidas
colunas_selecionadas = [
    "Ano", "UPA", "V1008", "V1014", "V2003", "UF", "V1022", "V2007",
    "V20081", "V20082", "V2009", "V2010", "V3001", "V3002",
    "V3003", "V3003A", "V3008", "V3009", "V3009A", "V3014", "V3010",
    "VD3004", "VD3005", "V403312", "V4039", "V4010", "V4012", "V4014",
    "V1028"
]

# Lê apenas as colunas selecionadas
df = pd.read_parquet(arquivos_parquet, columns=colunas_selecionadas, engine="pyarrow")
# Computa e salva o arquivo
df.to_parquet(os.path.join(diretorio_db, "pnad_2012_2024.parquet"), engine="pyarrow", index=False)
print("✅ Banco salvo com sucesso!")

KeyboardInterrupt:

# COMEÇA AQUI

In [1]:
#Criando um banco de dados com os dados da PNAD Contínua Trimestral de 2012 a 2024
import pandas as pd

df = pd.read_parquet('db/pnad_2012_2024.parquet', engine='pyarrow')
df.columns

Index(['Ano', 'UPA', 'V1008', 'V1014', 'V2003', 'UF', 'V1022', 'V2007',
       'V20081', 'V20082', 'V2009', 'V2010', 'V3001', 'V3002', 'V3003',
       'V3003A', 'V3008', 'V3009', 'V3009A', 'V3014', 'V3010', 'VD3004',
       'VD3005', 'V403312', 'V4039', 'V4010', 'V4012', 'V4014', 'V1028'],
      dtype='object')

In [ ]:
df_2014 = pd.read_parquet('db/pnad_trimestral_trimestre_022014.parquet')

Index(['Ano', 'UPA', 'V1008', 'V1014', 'V2003', 'UF', 'V1022', 'V2007',
       'V20081', 'V20082', 'V2009', 'V2010', 'V3001', 'V3002', 'V3003',
       'V3003A', 'V3008', 'V3009', 'V3009A', 'V3014', 'V3010', 'VD3004',
       'VD3005', 'V403312', 'V4039', 'V4010', 'V4012', 'V4014', 'V1028'],
      dtype='object')

In [34]:
# Informações sobre o DataFrame
print(f'Informações sobre o DataFrame:\n{df.info()}')
# Contar os valores nulos em cada coluna
print(f"Valores nulos:\n{df.isnull().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694962 entries, 0 to 6694961
Data columns (total 29 columns):
 #   Column   Dtype
---  ------   -----
 0   Ano      int64
 1   UPA      object
 2   V1008    object
 3   V1014    object
 4   V2003    object
 5   UF       int64
 6   V1022    int64
 7   V2007    int64
 8   V20081   int64
 9   V20082   int64
 10  V2009    int64
 11  V2010    int64
 12  V3001    float64
 13  V3002    float64
 14  V3003    float64
 15  V3003A   float64
 16  V3008    float64
 17  V3009    float64
 18  V3009A   float64
 19  V3014    float64
 20  V3010    float64
 21  VD3004   float64
 22  VD3005   float64
 23  V403312  float64
 24  V4039    float64
 25  V4010    float64
 26  V4012    float64
 27  V4014    float64
 28  V1028    float64
dtypes: float64(17), int64(8), object(4)
memory usage: 1.4+ GB
Informações sobre o DataFrame:
None
Valores nulos:
Ano              0
UPA              0
V1008            0
V1014            0
V2003            0
UF               0
V1022            0
V2007            0
V20081           0
V20082           0
V2009            0
V2010            0
V3001       423817
V3002       423817
V3003      6074724
V3003A     5619833
V3008      2119184
V3009      5309491
V3009A     3818798
V3014      2592691
V3010      5383670
VD3004      423817
VD3005      423817
V403312    3976844
V4039      3846604
V4010      3846604
V4012      3846604
V4014      6315046
V1028            0
dtype: int64

In [3]:
#Transformando as colunas em suas respectivas categorias conforme o dicionário de dados
# O Pandas não aceitou os valores nulos dos inteiros então eles vieram como float64
# Vamos transformar as colunas em Int64 para aceitar os valores nulos e para não serem lidos como float64
colunas_para_int = ['V3001', 'V3002', 'V3003', 'V3003A', 'V3008', 
                    'V3009', 'V3009A', 'V3014', 'V3010', 'VD3004', 'VD3005', 'V4012', 'V4014']

df[colunas_para_int] = df[colunas_para_int].fillna(0).astype(int)

In [14]:
df.dtypes

Ano          int64
UPA         object
V1008       object
V1014       object
V2003       object
UF           int64
V1022        int64
V2007        int64
V20081       int64
V20082       int64
V2009        int64
V2010        int64
V3001        int64
V3002        int64
V3003        int64
V3003A       int64
V3008        int64
V3009        int64
V3009A       int64
V3014        int64
V3010        int64
VD3004       int64
VD3005       int64
V403312    float64
V4039      float64
V4010      float64
V4012        int64
V4014        int64
V1028      float64
dtype: object

In [4]:
# verifiquei que a variavel V20081 tem nulos como 99 e a V20082 tem nulos como 9999 
# então vou substituir esses valores por nulos
df['V20081'] = df['V20081'].replace(99, pd.NA)
df['V20082'] = df['V20082'].replace(9999, pd.NA)

In [5]:
# Calcular 'idade_cne' conforme o dicionário 
df["idade_cne"] = (df["Ano"] - df["V20082"]).where(df["V20081"] <= 3)
df.loc[(df["V20081"] > 3) & (df["V20082"] != df["Ano"]), "idade_cne"] = df["Ano"] - df["V20082"] - 1
# Substituir valores NaN com a idade de referência
df["idade_cne"].fillna(df["V2009"], inplace=True)
#definindo o tipo da coluna
df["idade_cne"] = df["idade_cne"].astype("Int64")

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\1135826093.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["idade_cne"].fillna(df["V2009"], inplace=True)
C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\1135826093.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["idade_cne"].fillna(df["V2009"], inplace=True)

In [ ]:
#Batendo as estatísticas descritivas da idade_cne 
df['idade_cne'].describe()

count    6214976.0
mean     34.622048
std      21.586902
min            0.0
25%           16.0
50%           33.0
75%           51.0
max          130.0
Name: idade_cne, dtype: Float64

In [ ]:
#Verificações
print(f"Valores nulos:\n{df.isnull().sum()}")
print(f"Valores únicos:\n{df.nunique()}")
print(f"Informações:\n{df.info()}")

Valores nulos:
Ano                  0
UPA                  0
V1008                0
V1014                0
V2003                0
UF                   0
V1022                0
V2007                0
V20081          560525
V20082          560525
V2009                0
V2010                0
V3001           423817
V3002           423817
V3003          6074724
V3003A         5619833
V3008          2119184
V3009          5309491
V3009A         3818798
V3014          2592691
V3010          5383670
VD3004          423817
VD3005          423817
V403312        3976844
V4039          3846604
V4010          3846604
V4012          3846604
V4014          6315046
V1028                0
CO_UF                0
CO_REGIAO            0
CO_SEXO              0
CO_COR_RACA          0
idade_cne            0
dtype: int64
Valores únicos:
Ano                 13
UPA              38078
V1008               14
V1014               12
V2003               25
UF                  27
V1022                2
V2007                2
V20081              12
V20082             126
V2009              122
V2010                6
V3001                2
V3002                2
V3003                9
V3003A              10
V3008                2
V3009               12
V3009A              14
V3014                2
V3010                2
VD3004               7
VD3005              17
V403312           6173
V4039              119
V4010              434
V4012                7
V4014                3
V1028          2212813
CO_UF               27
CO_REGIAO            5
CO_SEXO              2
CO_COR_RACA          6
idade_cne          120
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694962 entries, 0 to 6694961
Data columns (total 34 columns):
 #   Column       Dtype
---  ------       -----
 0   Ano          Int64
 1   UPA          object
 2   V1008        object
 3   V1014        object
 4   V2003        object
 5   UF           Int64
 6   V1022        Int64
 7   V2007        Int64
 8   V20081       Int64
 9   V20082       Int64
 10  V2009        Int64
 11  V2010        Int64
 12  V3001        Int64
 13  V3002        Int64
 14  V3003        Int64
 15  V3003A       Int64
 16  V3008        Int64
 17  V3009        Int64
 18  V3009A       Int64
 19  V3014        Int64
 20  V3010        Int64
 21  VD3004       Int64
 22  VD3005       Int64
 23  V403312      float64
 24  V4039        float64
 25  V4010        float64
 26  V4012        Int64
 27  V4014        Int64
 28  V1028        float64
 29  CO_UF        Int64
 30  CO_REGIAO    Int64
 31  CO_SEXO      Int64
 32  CO_COR_RACA  Int64
 33  idade_cne    Int64
dtypes: Int64(26), float64(4), object(4)
memory usage: 1.9+ GB
Informações:
None

In [ ]:
#--------------------- METAS LIS -----------------------------
mask_meta_2a = (
    ((df['V3003A'] >= 4) | (df['V3003'] >=3 )) | # Estuda e cursa EF ou nível acima do EF
    ((df['V3014'] == 1) & ((df['V3009A'] >=6 ) | (df['V3009'] >=4 ))) | # Concluiu EF e nao estuda
    ((df['V3009A'] >=9 ) | (df['V3009'] >=7)) # Nao Concluiu, nao estuda e ultimo curso  > EF
)
# Criando variáveis para a meta 2A
df['denominador_meta_2a'] = df['V1028'].where(df['idade_cne'].between(6, 14))
df['numerador_meta_2a'] = df['denominador_meta_2a'].where(mask_meta_2a)

taxa_meta_2a_PNE = (df.groupby('Ano')['numerador_meta_2a'].sum() /
                df.groupby('Ano')['denominador_meta_2a'].sum()) * 100
print(taxa_meta_2a_PNE)
# 2B - PNE
#: Percentual de pessoas de 16 anos com pelo menos o ensino fundamental completo
# Criar a máscara para identificar quem concluiu o ensino fundamental
mask_meta_2b = (
    (((df["V3003A"]>=6) | (df["V3003"]>=5))) | # Estuda e cursa nivel > EF
    ((df["V3014"] == 1) & (((df["V3009A"]>=6) | (df["V3009"]>=4))))| # Não estuda mas concluiu nivel > EF
    ((df["V3009A"]>=9) | (df["V3009"]>= 7))
    )
# Criar o denominador e o numerador para a meta 2B
df["denominador_meta_2b"] = df["V1028"].where(df["idade_cne"] == 16)
df["numerador_meta_2b"] = df["denominador_meta_2b"].where(mask_meta_2b)
taxa_meta_2b_PNE = (df.groupby('Ano')['numerador_meta_2b'].sum() /
                df.groupby('Ano')['denominador_meta_2b'].sum()) * 100
print(taxa_meta_2b_PNE)
# 3 - PNE
#O Indicador 3A expressa o percentual de jovens de 15 a 17 anos de idade que frequenta a escola ou que já concluiu a educação básica. 
#O Indicador 3B expressa o percentual de jovens de 15 a 17 anos de idade que frequenta o ensino médio ou que já concluiu a educação básica. 
mask_meta_3a = ((df['VD3004']>=5) | (df["V3002"] == 1) )
mask_meta_3b = (((df['V3003'].isin([5,6])) | (df["V3003A"].isin([6,7]))) | (df['VD3004']>=5))
df["denominador_meta_3"] = df["V1028"].where(df["idade_cne"].between(15,17))
df["numerador_meta_3a"] = df["denominador_meta_3"].where(mask_meta_3a)
df["numerador_meta_3b"] = df["denominador_meta_3"].where(mask_meta_3b)
metas = ["a","b"]
for i in metas:
    taxa_meta_3_PNE = (df.groupby('Ano')[f'numerador_meta_3{i}'].sum() /
                    df.groupby('Ano')[f'denominador_meta_3'].sum()) * 100
    print(f'Meta 3 {i}:\n{taxa_meta_3_PNE}')
# 8 - PNE
#8A ESCOLARIDADE MÉDIA, EM ANOS DE ESTUDO COMPLETOS, DA POPULAÇÃO DE 18 A 29 ANOS DE IDADE
#8B ESCOLARIDADE MÉDIA, EM ANOS DE ESTUDO COMPLETOS, DA POPULAÇÃO DE 18 A 29 ANOS RESIDENTE NA ÁREA RURAL
#8C ESCOLARIDADE MÉDIA, EM ANOS DE ESTUDO COMPLETOS, DA POPULAÇÃO DE 18 A 29 ANOS PERTENCENTE AOS 25% MAIS POBRES (RENDA DOMICILIAR PER CAPITA)
#8D RAZÃO PERCENTUAL ENTRE A ESCOLARIDADE MÉDIA DE NEGROS E NÃO NEGROS NA FAIXA ETÁRIA DE 18 A 29 ANOS

metas = ["a","b"]
df['denominador_meta_8a']= df['V1028'].where(df['idade_cne'].between(18, 29))
df['numerador_meta_8a'] = df['denominador_meta_8a']*df["VD3005"]
df['denominador_meta_8b']= df['V1028'].where((df['idade_cne'].between(18, 29) & (df['V1022'] == 2)))
df['numerador_meta_8b'] = df['denominador_meta_8b']*df["VD3005"]
#df['denominador_meta_8d']= (df['V1028'].where(df['idade_cne'].between(18, 29) & df['V1022'].isin([1,3]))*df["VD3005"]).fillna(0) / (df['V1028'].where((df['idade_cne'].between(18, 29) & df['V1022'].isin([1,3]))))
#df['numerador_meta_8d']= (df['V1028'].where(df['idade_cne'].between(18, 29) & df['V1022'].isin([2,4]))*df["VD3005"]).fillna(0) / (df['V1028'].where((df['idade_cne'].between(18, 29) & df['V1022'].isin([2,4]))))
for i in metas: 
    taxa_meta_8_PNE = (df.groupby('Ano')[f'numerador_meta_8{i}'].sum() /
                df.groupby('Ano')[f'denominador_meta_8{i}'].sum()) 
    print(f'Meta 8 {i}:\n{taxa_meta_8_PNE}')
    #8D - PNE
# Máscaras para a faixa etária e grupos de cor
mask_branco = (df['V2009'].between(18, 29)) & (df['V2010'].isin([1, 3]))
mask_negro  = (df['V2009'].between(18, 29)) & (df['V2010'].isin([2, 4]))
df['numerador_meta_8d_negro']=(df['VD3005'] * df['V1028']).where(mask_negro)
df['denominador_meta_8d_negro']=df['V1028'].where(mask_negro)

df['numerador_meta_8d_branco']=(df['VD3005'] * df['V1028']).where(mask_branco)
df['denominador_meta_8d_branco']=df['V1028'].where(mask_branco)
# Agrupa por 'Ano' somando as contribuições de cada grupo
soma_num_negro  = df.groupby('Ano')['numerador_meta_8d_negro'].sum()
soma_peso_negro = df.groupby('Ano')['denominador_meta_8d_negro'].sum()
media_negro = (soma_num_negro / soma_peso_negro).round(1)
soma_num_branco  = df.groupby('Ano')['numerador_meta_8d_branco'].sum()
soma_peso_branco = df.groupby('Ano')['denominador_meta_8d_branco'].sum()
media_branco = (soma_num_branco / soma_peso_branco).round(1)
# Calcula o Indicador 8D: (média de negros / média de não negros) * 100
indicador = (media_negro / media_branco * 100).round(1)
print(indicador)
#9 - PNE
#INDICADOR 9A: TAXA DE ALFABETIZAÇÃO DA POPULAÇÃO DE 15 ANOS OU MAIS DE IDADE
#INDICADOR 9B: TAXA DE ANALFABETISMO FUNCIONAL DA POPULAÇÃO DE 15 ANOS OU MAIS DE IDADE
df['denominador_meta_9'] = df['V1028'].where(df['V2009']>=15)
df['numerador_meta_9a'] = df['denominador_meta_9'].where(df['V3001']==1)
df['numerador_meta_9b'] = df['denominador_meta_9'].where((df['V3001']==2) | (df['VD3005']<5))
taxa_meta_9a = (df.groupby('Ano')['numerador_meta_9a'].sum() / df.groupby('Ano')['denominador_meta_9'].sum()) * 100
taxa_meta_9b = (df.groupby('Ano')['numerador_meta_9b'].sum() / df.groupby('Ano')['denominador_meta_9'].sum()) * 100
print(taxa_meta_9a,taxa_meta_9b)

Ano
2012    96.725565
2013    96.909282
2014    97.180930
2015    97.371401
2016    97.338256
2017    97.684898
2018    97.975857
2019    97.786621
2020    97.960145
2021    95.939731
2022    96.284238
2023    95.666634
2024    95.756001
dtype: float64

In [6]:
# 2A - PNE
df['indicador_2a'] = (
        ((df['V3003A'] >= 4) | (df['V3003'] >= 3)) |  # Estuda e cursa EF ou nível acima do EF
        ((df['V3014'] == 1) & ((df['V3009A'] >= 6) | (df['V3009'] >= 4))) |  # Concluiu EF e não estuda
        ((df['V3009A'] >= 9) | (df['V3009'] >= 7))  # Não Concluiu, não estuda e último curso > EF
).astype(int) 
# Filtra os dados com idade_cne entre 6 e 14 anos
mask_2a =df[(df['idade_cne'].between(6,14))]

#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada:
media_ano = mask_2a.groupby('Ano').apply(
    lambda g: (g['indicador_2a'] * g['V1028']).sum() / g['V1028'].sum()
)

print(f'Média ponderada do indicador 2A por ano: {media_ano}')

Média ponderada do indicador 2A por ano: Ano
2012    0.967256
2013    0.969093
2014    0.971809
2015    0.973714
2016    0.973383
2017    0.976849
2018    0.979759
2019    0.977866
2020    0.979601
2021    0.959397
2022    0.962842
2023    0.956666
2024    0.957560
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\4198072431.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_2a.groupby('Ano').apply(

In [7]:
# 2B - PNE
df['indicador_2b']  = (
    (((df["V3003A"]>=6) | (df["V3003"]>=5))) | # Estuda e cursa nivel > EF
    ((df["V3014"] == 1) & (((df["V3009A"]>=6) | (df["V3009"]>=4))))| # Não estuda mas concluiu nivel > EF
    ((df["V3009A"]>=9) | (df["V3009"]>= 7))
    ).astype(int) 
# Filtra os dados com idade_cne == 16
mask_2b = df[(df['idade_cne']==16)]


#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:
media_ano = mask_2b.groupby('Ano').apply(
    lambda g: (g['indicador_2b'] * g['V1028']).sum() / g['V1028'].sum()
)
print(f'Média ponderada do indicador 2A por ano: {media_ano}')

Média ponderada do indicador 2A por ano: Ano
2012    0.682307
2013    0.712243
2014    0.731369
2015    0.744455
2016    0.746125
2017    0.755690
2018    0.755031
2019    0.781666
2020    0.818878
2021    0.810925
2022    0.828702
2023    0.843244
2024    0.859295
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2211353000.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_2b.groupby('Ano').apply(

In [8]:
# 3 - PNE
df['indicador_3a'] = ((df['VD3004']>=5) | (df["V3002"] == 1)).astype(int)
df['indicador_3b'] = (((df['V3003'].isin([5,6])) | (df["V3003A"].isin([6,7]))) | (df['VD3004']>=5)).astype(int)
mask_3 = df[(df['idade_cne'].between(15,17))]

#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:

for meta in ['a','b']:
    media_ano = mask_3.groupby('Ano').apply(
    lambda g: (g[f'indicador_3{meta}'] * g['V1028']).sum() / g['V1028'].sum())
    print(f'Média ponderada do indicador 3{meta} por ano: {media_ano}')

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\907245530.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_3.groupby('Ano').apply(

Média ponderada do indicador 3a por ano: Ano
2012    0.887873
2013    0.886735
2014    0.892246
2015    0.898031
2016    0.908407
2017    0.909810
2018    0.915716
2019    0.925987
2020    0.943491
2021    0.953101
2022    0.943528
2023    0.939655
2024    0.946922
dtype: float64
Média ponderada do indicador 3b por ano: Ano
2012    0.634849
2013    0.647631
2014    0.667192
2015    0.675236
2016    0.693554
2017    0.695983
2018    0.704843
2019    0.726935
2020    0.765902
2021    0.744817
2022    0.766967
2023    0.769053
2024    0.788150
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\907245530.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_3.groupby('Ano').apply(

In [9]:
# 8 - PNE
df['indicador_8'] = df["VD3005"]
mask_8a = df[(df['idade_cne'].between(18, 29))]
mask_8b = df[((df['idade_cne'].between(18, 29)) & (df['V1022'] == 2))] 
#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:

media_ano = mask_8a.groupby('Ano').apply(
lambda g: (g['indicador_8'] * g['V1028']).sum() / g['V1028'].sum())
print(f'Média ponderada do indicador 8A por ano: {media_ano}')
media_ano = mask_8b.groupby('Ano').apply(
lambda g: (g['indicador_8'] * g['V1028']).sum() / g['V1028'].sum())
print(f'Média ponderada do indicador 8B por ano: {media_ano}')

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2507302282.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_8a.groupby('Ano').apply(

Média ponderada do indicador 8A por ano: Ano
2012    10.702229
2013    10.823464
2014    10.934214
2015    11.052230
2016    11.144339
2017    11.282416
2018    11.400767
2019    11.539679
2020    11.717825
2021    11.761567
2022    11.731610
2023    11.832372
2024    11.887172
dtype: float64
Média ponderada do indicador 8B por ano: Ano
2012     8.550789
2013     8.774575
2014     8.971661
2015     9.221664
2016     9.380817
2017     9.593481
2018     9.707433
2019     9.932897
2020    10.242937
2021    10.427308
2022    10.322139
2023    10.392062
2024    10.468462
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2507302282.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_8b.groupby('Ano').apply(

In [10]:
# 8D - PNE
df['branco'] = df['V2010'].isin([1, 3]).astype(int)
df['negro'] = df['V2010'].isin([2, 4]).astype(int)
mask_8 = df[(df['V2009'].between(18,29))]


#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano
media_negro = mask_8.groupby('Ano').apply(lambda g: 
    (g['negro'] * g['indicador_8'] * g['V1028']).sum() / (g['V1028'] * g['negro']).sum()
)

media_branco = mask_8.groupby('Ano').apply(lambda g: 
    (g['branco'] * g['indicador_8'] * g['V1028']).sum() / (g['V1028'] * g['branco']).sum()
)
media_ano = (media_negro / media_branco) * 100

print(media_ano)

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2318230618.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_negro = mask_8.groupby('Ano').apply(lambda g:

Ano
2012    86.253246
2013    86.843496
2014    87.222380
2015    88.118946
2016    88.275546
2017    89.314143
2018    89.660044
2019    89.786243
2020    90.468702
2021    91.217500
2022    91.392034
2023    91.649398
2024    91.529703
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2318230618.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_branco = mask_8.groupby('Ano').apply(lambda g:

In [11]:
#9 - PNE

df['indicador_9a'] = (df['V3001']==1).astype(int)
df['indicador_9b'] = ((df['V3001']==2) | (df['VD3005']<5)).astype(int)
mask_9 = df[(df['V2009']>=15)]


#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:
for meta in ['a','b']:
    media_ano = mask_9.groupby('Ano').apply(
    lambda g: (g[f'indicador_9{meta}'] * g['V1028']).sum() / g['V1028'].sum()) * 100
    print(f'Média ponderada do indicador 9{meta} por ano: {media_ano}')

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\4170819566.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_9.groupby('Ano').apply(

Média ponderada do indicador 9a por ano: Ano
2012    91.848909
2013    92.263238
2014    92.584138
2015    92.856372
2016    93.297511
2017    93.499475
2018    93.713380
2019    93.909498
2020    94.781134
2021    95.030108
2022    94.379482
2023    94.565616
2024    94.726896
dtype: float64
Média ponderada do indicador 9b por ano: Ano
2012    17.688807
2013    16.752067
2014    15.920504
2015    15.169624
2016    15.614310
2017    14.258181
2018    13.577017
2019    13.107649
2020    11.523175
2021    11.413727
2022    12.318151
2023    12.279606
2024    11.929919
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\4170819566.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_9.groupby('Ano').apply(

In [12]:
#12 - PNE
df['indicador_12b'] = (((df['V3003A'] >= 8) | (df['V3003'] >=7 )) | # Estuda e cursa facul ou nível acima da facul
    ((df['V3014'] == 1) & ((df['V3009A'] >=12 ) | (df['V3009'] >=10 ))) | # Concluiu EF e nao estuda
    ((df['V3009A'] > 12 ) | (df['V3009'] > 10))
).astype(int)
df['indicador_12a'] = ((df['V3003A'] == 8) | (df['V3003'] == 7)).astype(int)
# Máscara para selecionar apenas pessoas de 18 a 24 anos
mask_12 = df['V2009'].between(18, 24)


#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:
media_ano = df.groupby('Ano').apply(
    lambda g: (g['indicador_12a'] * g['V1028']).sum() / g.loc[mask_12, 'V1028'].sum())
print(f'Média ponderada do indicador 12A por ano:\n{media_ano}')
media_ano2 = df[mask_12].groupby('Ano').apply(
    lambda g: (g['indicador_12b'] * g['V1028']).sum() / g['V1028'].sum())

print(f'Média ponderada do indicador 12b por ano: {media_ano2}')

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2700005297.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = df.groupby('Ano').apply(

Média ponderada do indicador 12A por ano:
Ano
2012    0.299664
2013    0.305495
2014    0.318261
2015    0.335464
2016    0.345831
2017    0.335831
2018    0.362732
2019    0.362139
2020    0.387063
2021    0.374186
2022    0.385266
2023    0.405489
2024    0.428693
dtype: float64
Média ponderada do indicador 12b por ano: Ano
2012    0.195329
2013    0.199196
2014    0.212354
2015    0.218847
2016    0.230627
2017    0.224468
2018    0.242886
2019    0.247128
2020    0.265745
2021    0.255468
2022    0.249613
2023    0.258910
2024    0.270599
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_13012\2700005297.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano2 = df[mask_12].groupby('Ano').apply(

In [13]:
#Criando região
df['REGIAO'] = df["UF"].astype(str).str[0].astype(int)

In [14]:
labels = { "V2007": "sexo","V2010": "cor","V1022": "urbana_rural", "V2009":"idade","V1028":"peso"}
df_agg = df
df_agg.rename(columns=labels, inplace=True)
df_agg.head(10)

,Ano,UPA,V1008,V1014,V2003,UF,urbana_rural,sexo,V20081,V20082,...,indicador_3a,indicador_3b,indicador_8,branco,negro,indicador_9a,indicador_9b,indicador_12b,indicador_12a,REGIAO
0,2012,110000153,01,2,01,11,1,2,1,1940,...,0,0,9,1,0,1,0,0,0,1
1,2012,110000153,02,2,01,11,1,2,6,1962,...,0,0,9,1,0,1,0,0,0,1
2,2012,110000153,03,2,01,11,1,1,8,1960,...,0,0,9,0,1,1,0,0,0,1
3,2012,110000153,03,2,02,11,1,2,5,1957,...,1,1,12,0,1,1,0,0,0,1
4,2012,110000153,03,2,03,11,1,2,12,1976,...,1,1,14,1,0,1,0,1,1,1
5,2012,110000153,03,2,04,11,1,1,11,1987,...,1,1,12,0,1,1,0,0,0,1
6,2012,110000153,03,2,05,11,1,1,11,1988,...,1,1,12,0,1,1,0,0,0,1
7,2012,110000153,04,2,01,11,1,2,7,1988,...,0,0,9,1,0,1,0,0,0,1
8,2012,110000153,05,2,01,11,1,1,8,1960,...,1,1,12,0,1,1,0,0,0,1
9,2012,110000153,05,2,02,11,1,2,8,1961,...,0,0,8,0,1,1,0,0,0,1

In [ ]:
#Banco agregado apenas com as variaveis para calcular as mestas
break_cols = ['idade','urbana_rural','cor','sexo','Ano','UF','REGIAO','indicador_2a', 'indicador_2b', 'indicador_3a',
'indicador_3b', 'indicador_8', 'branco', 'negro', 'indicador_9a',
'indicador_9b', 'indicador_12b', 'indicador_12a', 'idade_cne',]
df_agg = df.groupby(break_cols, as_index=False).agg(peso=("peso", "sum"))
df_agg.head

<bound method NDFrame.head of          idade  urbana_rural  cor  sexo   Ano  UF  REGIAO  indicador_2a  \
0            0             1    1     1  2012  11       1             0
1            0             1    1     1  2012  12       1             0
2            0             1    1     1  2012  13       1             0
3            0             1    1     1  2012  14       1             0
4            0             1    1     1  2012  15       1             0
...        ...           ...  ...   ...   ...  ..     ...           ...
2533780    120             1    1     2  2014  52       5             0
2533781    121             1    4     1  2015  17       1             1
2533782    122             1    4     1  2012  41       4             0
2533783    122             1    4     2  2012  41       4             0
2533784    130             1    1     2  2013  25       2             0

         indicador_2b  indicador_3a  indicador_3b  indicador_8  branco  negro  \
0                   0             0             0            0       1      0
1                   0             0             0            0       1      0
2                   0             0             0            0       1      0
3                   0             0             0            0       1      0
4                   0             0             0            0       1      0
...               ...           ...           ...          ...     ...    ...
2533780             0             0             0            0       1      0
2533781             1             1             1           12       0      1
2533782             0             0             0            0       0      1
2533783             0             0             0            0       0      1
2533784             0             0             0            5       1      0

         indicador_9a  indicador_9b  indicador_12b  indicador_12a  idade_cne  \
0                   0             1              0              0          0
1                   0             1              0              0          0
2                   0             1              0              0          0
3                   0             1              0              0          0
4                   0             1              0              0          0
...               ...           ...            ...            ...        ...
2533780             1             1              0              0        120
2533781             1             0              0              0        120
2533782             0             1              0              0        122
2533783             0             1              0              0        122
2533784             1             0              0              0        130

                 peso
0         4990.718104
1         2691.176104
2         6826.924694
3          469.154682
4        12684.047533
...               ...
2533780    230.265894
2533781    213.806348
2533782    458.566533
2533783    458.566533
2533784    138.930756

[2533785 rows x 20 columns]>

In [16]:
#Salvando banco agregado

df_agg.to_parquet('banco_metas.parquet', index=False, engine="pyarrow")
print("✅ Banco salvo com sucesso!")

✅ Banco salvo com sucesso!

In [ ]:
#Teste banco agregado
mask_2a =df_agg[(df_agg['idade_cne'].between(6,14))]
media_ano = mask_2a.groupby('Ano').apply(
    lambda g: (g['indicador_2a'] * g['peso']).sum() / g['peso'].sum()
)

print(f'Média ponderada do indicador 2A por ano: {media_ano}')
mask_2b = df[(df['idade_cne']==16)]

media_ano = mask_2b.groupby('Ano').apply(
    lambda g: (g['indicador_2b'] * g['peso']).sum() / g['peso'].sum()
)
print(f'Média ponderada do indicador 2B por ano: {media_ano}')


mask_3 = df_agg[(df_agg['idade_cne'].between(15,17))]
for meta in ['a','b']:
    media_ano = mask_3.groupby('Ano').apply(
    lambda g: (g[f'indicador_3{meta}'] * g['peso']).sum() / g['peso'].sum())
    print(f'Média ponderada do indicador 3{meta} por ano: {media_ano}')

mask_8a = df[(df['idade_cne'].between(18, 29))]
mask_8b = df[((df['idade_cne'].between(18, 29)) & (df['urbana_rural'] == 2))] 
#-------------------------------- TESTE -----------------------------------
# Calcula a média ponderada por ano:

media_ano = mask_8a.groupby('Ano').apply(
lambda g: (g['indicador_8'] * g['peso']).sum() / g['peso'].sum())
print(f'Média ponderada do indicador 8A por ano: {media_ano}')
media_ano = mask_8b.groupby('Ano').apply(
lambda g: (g['indicador_8'] * g['peso']).sum() / g['peso'].sum())
print(f'Média ponderada do indicador 8B por ano: {media_ano}')

mask_8 = df_agg[(df_agg['idade'].between(18,29))]
# Calcula a média ponderada por ano
media_negro = mask_8.groupby('Ano').apply(lambda g: 
    (g['negro'] * g['indicador_8'] * g['peso']).sum() / (g['peso'] * g['negro']).sum()
)

media_branco = mask_8.groupby('Ano').apply(lambda g: 
    (g['branco'] * g['indicador_8'] * g['peso']).sum() / (g['peso'] * g['branco']).sum()
)
media_ano = (media_negro / media_branco) * 100

print(media_ano)

mask_9 = df_agg[(df_agg['idade']>=15)]

for meta in ['a','b']:
    media_ano = mask_9.groupby('Ano').apply(
    lambda g: (g[f'indicador_9{meta}'] * g['peso']).sum() / g['peso'].sum()) * 100
    print(f'Média ponderada do indicador 9{meta} por ano: {media_ano}')


mask_12 = df_agg['idade'].between(18, 24)
media_ano = df_agg.groupby('Ano').apply(
    lambda g: (g['indicador_12a'] * g['peso']).sum() / g.loc[mask_12, 'peso'].sum())
print(f'Média ponderada do indicador 12A por ano:\n{media_ano}')
media_ano2 = df_agg[mask_12].groupby('Ano').apply(
    lambda g: (g['indicador_12b'] * g['peso']).sum() / g['peso'].sum())

print(f'Média ponderada do indicador 12b por ano: {media_ano2}')

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_2a.groupby('Ano').apply(

Média ponderada do indicador 2A por ano: Ano
2012    0.967256
2013    0.969093
2014    0.971809
2015    0.973714
2016    0.973383
2017    0.976849
2018    0.979759
2019    0.977866
2020    0.979601
2021    0.959397
2022    0.962842
2023    0.956666
2024    0.957560
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_2b.groupby('Ano').apply(

Média ponderada do indicador 2B por ano: Ano
2012    0.682307
2013    0.712243
2014    0.731369
2015    0.744455
2016    0.746125
2017    0.755690
2018    0.755031
2019    0.781666
2020    0.818878
2021    0.810925
2022    0.828702
2023    0.843244
2024    0.859295
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_3.groupby('Ano').apply(
C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_3.groupby('Ano').apply(

Média ponderada do indicador 3a por ano: Ano
2012    0.887873
2013    0.886735
2014    0.892246
2015    0.898031
2016    0.908407
2017    0.909810
2018    0.915716
2019    0.925987
2020    0.943491
2021    0.953101
2022    0.943528
2023    0.939655
2024    0.946922
dtype: float64
Média ponderada do indicador 3b por ano: Ano
2012    0.634849
2013    0.647631
2014    0.667192
2015    0.675236
2016    0.693554
2017    0.695983
2018    0.704843
2019    0.726935
2020    0.765902
2021    0.744817
2022    0.766967
2023    0.769053
2024    0.788150
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_8a.groupby('Ano').apply(

Média ponderada do indicador 8A por ano: Ano
2012    10.702229
2013    10.823464
2014    10.934214
2015    11.052230
2016    11.144339
2017    11.282416
2018    11.400767
2019    11.539679
2020    11.717825
2021    11.761567
2022    11.731610
2023    11.832372
2024    11.887172
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_8b.groupby('Ano').apply(

Média ponderada do indicador 8B por ano: Ano
2012     8.550789
2013     8.774575
2014     8.971661
2015     9.221664
2016     9.380817
2017     9.593481
2018     9.707433
2019     9.932897
2020    10.242937
2021    10.427308
2022    10.322139
2023    10.392062
2024    10.468462
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:35: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_negro = mask_8.groupby('Ano').apply(lambda g:
C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:39: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_branco = mask_8.groupby('Ano').apply(lambda g:

Ano
2012    86.253246
2013    86.843496
2014    87.222380
2015    88.118946
2016    88.275546
2017    89.314143
2018    89.660044
2019    89.786243
2020    90.468702
2021    91.217500
2022    91.392034
2023    91.649398
2024    91.529703
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:49: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_9.groupby('Ano').apply(

Média ponderada do indicador 9a por ano: Ano
2012    91.848909
2013    92.263238
2014    92.584138
2015    92.856372
2016    93.297511
2017    93.499475
2018    93.713380
2019    93.909498
2020    94.781134
2021    95.030108
2022    94.379482
2023    94.565616
2024    94.726896
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:49: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = mask_9.groupby('Ano').apply(

Média ponderada do indicador 9b por ano: Ano
2012    17.688807
2013    16.752067
2014    15.920504
2015    15.169624
2016    15.614310
2017    14.258181
2018    13.577017
2019    13.107649
2020    11.523175
2021    11.413727
2022    12.318151
2023    12.279606
2024    11.929919
dtype: float64

C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:55: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano = df_agg.groupby('Ano').apply(
C:\Users\lisca\AppData\Local\Temp\ipykernel_16168\365813958.py:58: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  media_ano2 = df_agg[mask_12].groupby('Ano').apply(

Média ponderada do indicador 12A por ano:
Ano
2012    0.299664
2013    0.305495
2014    0.318261
2015    0.335464
2016    0.345831
2017    0.335831
2018    0.362732
2019    0.362139
2020    0.387063
2021    0.374186
2022    0.385266
2023    0.405489
2024    0.428693
dtype: float64
Média ponderada do indicador 12b por ano: Ano
2012    0.195329
2013    0.199196
2014    0.212354
2015    0.218847
2016    0.230627
2017    0.224468
2018    0.242886
2019    0.247128
2020    0.265745
2021    0.255468
2022    0.249613
2023    0.258910
2024    0.270599
dtype: float64

In [ ]:
#Criar variavel regiao com base na UF
df['Região'] = df['UF'].astype(str).str[0].astype(int).map({
 1: 'Norte', 
    2: 'Nordeste', 
    3: 'Sudeste', 
    4: 'Sul', 
    5: 'Centro-Oeste'
} )

# Mapear os rótulos das variáveis
variaveis_labels = {
    "Ano": "Ano de referência",
    "UF": "Unidade da Federação",
    "V1022": "Situação do domicílio",
    "V2007": "Sexo",
    "V20081": "Mês de nascimento",
    "V20082": "Ano de nascimento",
    "V2009": "Idade do morador na data de referência",
    "V2010": "Cor ou raça",
    "V3001": "... sabe ler e escrever?",
    "V3002": "... frequenta escola?",
    "V3003": "Qual é o curso que ... frequenta?",
    "V3003A": "Qual é o curso que ... frequenta? (detalhado)",
    "V3008": "Anteriormente ... frequentou escola?",
    "V3009": "Qual foi o curso mais elevado que ... frequentou anteriormente?",
    "V3009A": "Qual foi o curso mais elevado que ... frequentou anteriormente? (detalhado)",
    "V3010": "A duração deste curso que ... frequentou anteriormente era de:",
    "V3014": "... concluiu este curso que frequentou anteriormente",
    "VD3004": "Nível de instrução mais elevado alcançado",
    "VD3005": "Anos de estudo (pessoas de 5 anos ou mais de idade)",
    "V1028": "Peso do domicílio e das pessoas",
    "V403312": "Rendimento bruto/retirada mensal",
    "V4039": "Horas trabalhadas por semana",
    "V4010": "Código da ocupação",
    "V4012": "Nesse trabalho, ... era:",
    "V4014": "Esse trabalho era na área:",
}

# Mapear os valores das variáveis
valores_labels = {
    "UF": {
        11: "Rondônia", 12: "Acre", 13: "Amazonas", 14: "Roraima", 15: "Pará", 16: "Amapá", 17: "Tocantins",
        21: "Maranhão", 22: "Piauí", 23: "Ceará", 24: "Rio Grande do Norte", 25: "Paraíba", 26: "Pernambuco",
        27: "Alagoas", 28: "Sergipe", 29: "Bahia", 31: "Minas Gerais", 32: "Espírito Santo", 33: "Rio de Janeiro",
        35: "São Paulo", 41: "Paraná", 42: "Santa Catarina", 43: "Rio Grande do Sul", 50: "Mato Grosso do Sul",
        51: "Mato Grosso", 52: "Goiás", 53: "Distrito Federal"
    },
    "V1022": {1: "Urbana", 2: "Rural"},
    "V2007": {1: "Homem", 2: "Mulher"},
    "V2010": {1: "Branca", 2: "Preta", 3: "Amarela", 4: "Parda", 5: "Indígena", 9: "Ignorado"},
    "V3001": {1: "Sim", 2: "Não"},
    "V3002": {1: "Sim", 2: "Não"},
    "V3008": {1: "Sim", 2: "Não"},
    "V3014": {1: "Sim", 2: "Não"},
}

# Aplicar os mapeamentos
for col, mapping in valores_labels.items():
    if col in df.columns:
        df[col] = df[col].map(mapping)
df = df.rename(columns=variaveis_labels)
df.head(5)

C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('UF', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('UF', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V1022', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V2007', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V2010', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V3001', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V3002', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V3002A', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V3008', 'object'))

  warnings.warn(meta_warning(meta))
C:\Users\lisca\AppData\Roaming\Python\Python313\site-packages\dask\dataframe\dask_expr\_collection.py:4204: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('V3014', 'object'))

  warnings.warn(meta_warning(meta))

,UPA,V1008,V1014,V2003,Unidade da Federação,Situação do domicílio,Sexo,Mês de nascimento,Ano de nascimento,Idade do morador na data de referência,...,Nível de instrução mais elevado alcançado,Anos de estudo (pessoas de 5 anos ou mais de idade),Rendimento bruto/retirada mensal,Horas trabalhadas por semana,Código da ocupação,"Nesse trabalho, ... era:",Esse trabalho era na área:,Peso do domicílio e das pessoas,Ano de referência,Região
0,110000153,01,2,01,Rondônia,Urbana,Mulher,1,1940,72,...,3,9,NaN,NaN,NaN,<NA>,<NA>,112.361428,2012,Norte
1,110000153,02,2,01,Rondônia,Urbana,Mulher,6,1962,49,...,3,9,400.0,32.0,9111.0,1,<NA>,103.038283,2012,Norte
2,110000153,03,2,01,Rondônia,Urbana,Homem,8,1960,51,...,3,9,1200.0,56.0,1120.0,5,<NA>,145.680906,2012,Norte
3,110000153,03,2,02,Rondônia,Urbana,Mulher,5,1957,55,...,5,12,800.0,30.0,4411.0,4,2,145.680906,2012,Norte
4,110000153,03,2,03,Rondônia,Urbana,Mulher,12,1976,35,...,6,14,622.0,70.0,1412.0,6,<NA>,145.680906,2012,Norte